@import '/css/colors';
.team
{
    padding: 94px 0;
    background-color: getColor('cum');
    & h2 
    {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 50px;
        letter-spacing: 1.08px;
        text-align: center;
    }
    &__list
    {
        padding: 0px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__elem
    {
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        & figure
        {
            background-color: #FFFFFF;
        }
        &__figcap
        {
            padding: 30px 0;
            text-align: center;
            & h3 
            {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 10px;
            }
            & span 
            {
                color: getColor('lightgray');
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}