.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  opacity: 0;
  z-index: -100;
}

.logo {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 16px 0;
}
.logo__title1 {
  color: #2196f3;
  font-family: "Raleway";
}
.logo__title2 {
  font-family: "Raleway";
}
.logo .header__logo2 {
  color: #000000;
  font-family: "Raleway";
}
.logo .footer__logo2 {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    padding: 25px 0;
  }
}
.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 16px 32px 0;
}

.social__elem {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #AFB1B8;
  cursor: pointer;
}
.social__elem:hover {
  background-color: #2196f3;
  fill: #FFFFFF;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
ol,
figure,
h1,
h2,
h3 {
  font-style: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 0.42px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.container {
  max-width: 480px;
  padding: 0px 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
}

.header__nav {
  display: none;
}

.header__contacts {
  display: none;
}

.header__burger {
  position: absolute;
  right: 23px;
  top: 22px;
  cursor: pointer;
}

.header__menu {
  position: fixed;
  display: flex;
  overflow: hidden;
  padding: 48px 40px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  right: 0px;
  top: 0px;
  z-index: 999;
  flex-direction: column;
  justify-content: space-between;
}
.header__menu__item {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.header__menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.header__menu__contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.header__menu__phone {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.68px;
  color: #2196f3;
}
.header__menu__mail {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.48px;
  color: #757575;
}
.header__menu__socials {
  display: flex;
  gap: 20px;
  margin-top: 64px;
}
.header__menu__socials__link {
  color: #2196f3;
  line-height: 22px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
}

.header__close {
  position: absolute;
  right: 25px;
  top: 21px;
}

@media (min-width: 768px) {
  header .container {
    display: flex;
    align-items: center;
  }
  header a:hover {
    color: #2196f3;
  }
  .header__burger {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .header__nav__list {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-right: auto;
    margin-left: 88px;
  }
  .header__nav__a {
    color: #212121;
    font-weight: 500;
  }
  .header__nav__link {
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.24px;
  }
  .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
  .header__contacts__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2196f3;
    fill: #2196f3;
  }
  .header__contacts__icon {
    fill: #757575;
  }
  .header__contacts__item:hover a {
    color: inherit;
  }
  .header__contacts__item:hover svg {
    fill: inherit;
  }
}
@media (min-width: 1200px) {
  header .container {
    display: flex;
    align-items: center;
  }
  header a:hover {
    color: #2196f3;
  }
  .header__nav {
    display: block;
  }
  .header__nav__list {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-right: auto;
    margin-left: 93px;
  }
  .header__contacts {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: auto;
  }
  .header__contacts__item {
    gap: 8px;
  }
  .header__burger {
    display: none;
  }
  .header__menu {
    display: none;
  }
}
footer {
  background-color: #2f303a;
}
footer a {
  color: rgba(255, 255, 255, 0.6);
}
footer address {
  color: #ffffff;
  font-size: 14px;
}
footer .social__list {
  margin: 0;
  margin-top: 20px;
}
footer .social__elem {
  background-color: #43444d;
  fill: #ffffff;
}

.footer__container {
  padding: 60px 0;
}

.footer__info {
  text-align: center;
}

footer .logo {
  padding: 0;
}

.footer__address__list {
  padding: 0;
  margin-top: 20px;
}
.footer__address__elem:not(:last-child) {
  margin-bottom: 8px;
}

.footer__mailing {
  text-align: center;
}
.footer__mailing span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}
.footer__mailing__input {
  width: 450px;
  height: 50px;
  border-radius: 4px;
  background-color: inherit;
  border: solid 1px #757575;
  color: #757575;
  padding: 0 16px;
}
.footer__mailing__button {
  border: none;
  background-color: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  letter-spacing: 0.96px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.footer__mailing__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.footer__mailing__elem {
  display: flex;
  justify-content: center;
}

.footer__social {
  text-align: center;
  margin: 60px 0;
}

.footer__social span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

footer .social__list {
  margin: 0;
  margin-top: 20px;
}

footer .social__elem {
  background-color: #43444d;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .footer__container {
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
  }
  .footer__social {
    margin: 0;
    margin-left: auto;
    margin-right: 74px;
  }
  .footer__mailing {
    margin: 0 auto;
  }
  .footer__info {
    margin-left: 64px;
  }
  .footer__address:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__address__elem {
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .footer__info {
    text-align: left;
    margin: 0;
  }
  .footer__container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 70px;
  }
  .footer__address__list :not(:last-child) {
    margin-bottom: 15px;
  }
  .footer__mailing {
    text-align: left;
  }
  .footer__mailing__input {
    width: 358px;
  }
  .footer__mailing__list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 20px;
  }
  .footer__mailing__elem {
    display: inline;
  }
  .footer__social {
    text-align: left;
    margin: 0;
  }
}
.hero {
  text-align: center;
  padding: 118px 0px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/assets/pictures/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  padding: 0 45px;
}
.hero h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 1.56px;
  color: #ffffff;
}
.hero__button {
  background-color: #2196f3;
  font-weight: bold;
  padding-block: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .hero h1 {
    width: 360px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
  }
  .hero__title {
    width: 696px;
    margin: inherit;
  }
  .hero h1 {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
  }
}
.strength {
  padding: 60px 0;
}
.strength__elem:not(:last-child) {
  margin-bottom: 30px;
}
.strength__elem__top {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: #f5f4fa;
}
.strength__elem h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
.strength__elem span {
  color: #757575;
  line-height: 24px;
}

@media (min-width: 768px) {
  .strength {
    padding-top: 94px;
  }
  .strength__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  .strength__elem {
    max-width: 354px;
  }
  .strength__elem:not(:last-child) {
    margin-bottom: 0;
  }
  .strength__elem svg {
    max-width: inherit;
  }
}
@media (min-width: 1200px) {
  .strength__list {
    flex-wrap: nowrap;
  }
  .strength__elem {
    width: 270px;
  }
  .strength__elem h3 {
    text-align: left;
  }
}
.work {
  display: none;
}

@media (min-width: 1200px) {
  .work {
    display: block;
    padding: 89px 0 99px 0;
  }
  .work h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  .work__list {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .work__elem {
    position: relative;
  }
  .work__elem__description {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2px;
  }
  .work__elem__description span {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
}
.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}
.team h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: 1.08px;
  text-align: center;
}
.team__list {
  padding: 0px;
  justify-content: space-between;
  gap: 30px;
}
.team__elem:not(:last-child) {
  margin-bottom: 30px;
}
.team__elem figure {
  background-color: #ffffff;
  max-width: 450px;
}
.team__elem__figcap {
  padding: 30px 0;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.team__elem__figcap h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.team__elem__figcap span {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.team__elem__image {
  width: 100%;
}

@media (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
  .team__elem figure {
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team__list {
    flex-wrap: nowrap;
  }
}
.clients {
  padding: 60px 0;
}
.clients h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 450px;
}
.clients__elem {
  width: calc((100% - 30px) / 2);
  height: 92px;
  border-style: solid;
  border-width: 1px;
  border-color: #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.clients__elem svg {
  max-width: 160px;
  height: 60px;
  fill: #afb1b8;
}
.clients__elem:hover {
  cursor: pointer;
  border-color: #2196f3;
}
.clients__elem:hover svg {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .clients__list {
    max-width: 100%;
  }
  .clients__elem {
    max-width: none;
    width: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
  .clients__elem {
    width: calc((100% - 150px) / 6);
  }
}
.main__section {
  padding: 60px 0;
}
.main__section__nav {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.main__section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.main__section__elem {
  width: 450px;
  height: 404px;
}
.main__section__elem:hover .overlay {
  transform: translateY(0);
}
.main__section__elem img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 450px;
  height: 294px;
}
.main__section__elem__figcap {
  padding: 20px 24px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #eeeeee;
}
.main__section__elem__figcap:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main__section__elem__figcap h3 {
  line-height: 36px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1, 8px;
}
.main__section__elem__figcap span {
  line-height: 30px;
  color: #757575;
}
.main__section__image {
  position: relative;
  overflow: hidden;
}

.nav__button {
  height: 38px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  border-style: none;
  cursor: pointer;
  line-height: 26px;
  padding: 6px 22px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0, 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nav__button:focus {
  background-color: #2196f3;
  color: white;
}
.nav__button--current {
  background-color: #2196f3;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(200%);
  transition: transform 250ms ease;
  z-index: 1;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 0, 54px;
}
.overlay p {
  margin: 63px 24px;
}

@media (min-width: 768px) {
  .main__section__nav {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  .main__section__elem {
    width: 354px;
  }
  .main__section__elem img {
    width: 354px;
  }
  .main__section__list {
    width: inherit;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .main__section {
    padding: 94px 0;
  }
  .main__section__nav {
    margin-bottom: 50px;
    justify-content: center;
  }
  .main__section__elem {
    width: 370px;
  }
  .main__section__elem img {
    display: block;
    width: 370px;
  }
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #fefefe;
  max-width: 450px;
  padding: 40px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.modal__info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal__info__main__h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 30px;
}
.modal__info__list {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 20px;
}
@media (max-width: 449px) {
  .modal__info__list {
    width: calc(100vw - 110px);
  }
}
.modal__info__elem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal__info__elem svg {
  position: absolute;
  bottom: 10px;
  left: 12px;
}
.modal__info__elem textarea {
  height: 120px;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
}
.modal__info__elem textarea :focus {
  border-color: #2196f3;
}
.modal__info__elem input {
  width: 370px;
  height: 40px;
  padding-left: 38px;
  padding-right: 12px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
}
.modal__info__elem input:focus svg {
  fill: #2196f3;
  border-color: #2196f3;
}
.modal__info__elem span {
  font-size: 12px;
  letter-spacing: 0.12px;
  color: #757575;
}
.modal__info__agreement {
  position: relative;
  font-size: 12px;
  font-weight: 500px;
  color: #757575;
  letter-spacing: 0.42px;
  display: flex;
  align-items: center;
}
.modal__info__agreement a {
  color: #2196f3;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500px;
  letter-spacing: 0.42px;
  cursor: pointer;
}
.modal__info__agreement input:focus .check {
  opacity: 100%;
}
.modal__info__submit {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uncheck {
  position: absolute;
}

.check {
  z-index: 2;
  position: absolute;
  opacity: 0%;
  cursor: pointer;
}
.check :focus {
  opacity: 100%;
}
.check :active {
  opacity: 100%;
}

.modal__info__agreement input {
  opacity: 0%;
}

@media (min-width: 1200px) {
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal__content {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #fefefe;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    max-width: 528px;
  }
  .modal__info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .modal__info__main__h2 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.6px;
  }
  .modal__info__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 100%;
  }
  .modal__info__elem {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .modal__info__elem svg {
    position: absolute;
    bottom: 10px;
    left: 12px;
  }
  .modal__info__elem textarea {
    height: 120px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
  }
  .modal__info__elem textarea :focus {
    border-color: #2196f3;
  }
  .modal__info__elem input {
    width: 448px;
    height: 40px;
    padding-left: 38px;
    padding-right: 12px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
  }
  .modal__info__elem input:focus svg {
    fill: #2196f3;
    border-color: #2196f3;
  }
  .modal__info__elem span {
    font-size: 12px;
    letter-spacing: 0.12px;
    color: #757575;
  }
  .modal__info__agreement {
    position: relative;
    font-size: 14px;
    font-weight: 500px;
    color: #757575;
    letter-spacing: 0.42px;
    display: flex;
    align-items: center;
  }
  .modal__info__agreement a {
    color: #2196f3;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  .modal__info__agreement input:focus .check {
    opacity: 100%;
  }
  .modal__info__submit {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
  }
  .close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .uncheck {
    position: absolute;
  }
  .check {
    z-index: 2;
    position: absolute;
    opacity: 0%;
    cursor: pointer;
  }
  .check :focus {
    opacity: 100%;
  }
  .check :active {
    opacity: 100%;
  }
  .modal__info__agreement input {
    opacity: 0%;
  }
}/*# sourceMappingURL=main.css.map */