@import '/css/colors';
// ----------------------
@import '/css/logo';
@import '/css/header';
@import '/css/footer';
@import '/css/hero';
@import '/css/social';
@import '/css/strength';
@import '/css/work';
@import '/css/team';
@import '/css/clients';
@import '/css/portfolio';
@import '/css/modal';

.container
{
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}