.work {
  display: none;
}

@media (min-width: 768px) {
}
@media (min-width: 1200px) {
  .work {
    display: block;

    padding: 89px 0 99px 0;
    & h2 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }
    &__list {
      padding: 0px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
    &__elem {
      position: relative;

      &__description {
        position: absolute;
        width: 370px;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 2px;

        & span {
          font-weight: bold;
          text-transform: uppercase;
          color: white;
        }
      }
    }
  }
}
